@import 'family.scss';
@import 'mixin.scss';


$primary-color: rgb(74, 97, 21);

p{
    color: $primary-color;
}
.papa{
    width: 500px;
    height: 600px;
    background-color: rgb(65, 24, 24);
}
.mama{
    width: 400px;
    height: 500px;
    background-color: rgb(174, 182, 137);
}

.papa{
    .son{
        width: 50px;
        height: 60px;
        background-color: $primary-color;
    }
}
.random{
    @include color(blue);
}