<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet" type="text/css" href="../styles/main.css")
    body
        include head
        p Hi there! 
        script(src="../js/script.js")
        .papa
            .mama
                .son
.random ghfhgjhhkjj
.some-shit{
    
}